body {
   font-family:monospace; color:#E1000F;
    .ingredient {
        color: ff5500;
    }
    #allergen {
        font-weight: bold;
    }

    #stext{
       margin: 5px 0px 0px 10px;
       padding: 5px 5px 5px; 
    }

    #head{
        margin: 20px 5px 0px 10px;
        height: 100px;
        overflow: hidden;
    }

    #htext{
        position: absolute;
        padding: 20px 80px 0px;
        margin-top: -825px;
    }

    #flag{
        opacity: 0.9;
        width: 100%;
        height: auto;
    }

    #burg{
        margin: 5px 20px;
        padding: 5px;
    }
    
    #burgare {
        border: 5px dashed white;
        margin: 25px 5px 10px 10px;
        background-color: black;
        color: white;
    }

      #info {
        border: 5px dashed #E1000F;
        margin: 25px 5px 10px 10px;
    }

    #knapp{
        margin: 15px 5px 10px 10px;
        padding: 15px 5px 5px;
    }

    button:hover {
        background-color: #000091;
        cursor:grabbing

    }

    .wrapper {
     display: grid;
     grid-gap: auto;
     grid-template-columns: auto auto auto auto;
 }

}



